.container{
    margin-bottom: 80px;
    padding: 5px 40px;
}
body{
    background-color: #feeae9;
}
.buy-now{
    background-image: linear-gradient(to bottom, rgb(255, 0, 200)0%, rgb(255, 0, 140));
    padding: 7px 20px;
    border-radius: 7px;

}
.carousel-item{
    padding: 20px 40px;
}

.price{
    color: rgb(255, 71, 148);
}